@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}